/* Home page */

.container  {
            margin: auto;
            position: relative;   
}


#navbar ol{  		
            float: center;
       	    margin: 4px;
       	    background-color: none;
       	    border-bottom: 0px solid black;
       	    list-style: none;   		
	    font-size: 8px;
	    text-align: center;
            font-family: Cambria;
}
				
#navbar ol li{
                display: inline; 
		text-align: center;
		right: 0px;
		font-size: 22px;
}
				
#navbar ol li a {
		    text-decoration: none;
                    padding: .2em 1em;
                    color: black;
		    background-color: none;
                    text-align: center;
}
				
#navbar ol li a:hover 	{
        		background-color: #EEEEE0;
        		color: black;
        		text-decoration: none;
     			text-align: center; 
}

.hnavbar ol{  		
            float: center;
       	    margin:5px;
       	    background-color: none;
       	    border-bottom: 0px solid black;
       	    list-style: none;   		
	    font-size: 15px;
}

.hnavbar ol li{
                margin:10px;
                height:30px;
                padding: 5px;
}


#visibilitycolor{
    background-color: #046464;
}

#languagecolor{
    background-color: #0F8F9A;  
}

#userfreedomcolor{
    background-color: #2FC4CF;
}

#consistencycolor{
    background-color: #66CC99;
}

#errorcolor{
    background-color: #99CC33;
}


#recognizecolor{
    background-color: #CC6666;
}


#flexibilitycolor{
    background-color: #FAC491;
}


#aestheticcolor{
    background-color: #FA9A64;   
}

#errorrecoverycolor{
    background-color: #FA6404;   
}

#helpcolor{
    background-color: #EF0404;
}

#whitecolor{
    color: #ffffff;
}

footer{
    text-align: center;
    margin: 10px;
}

.footer2{
    text-align: center;
    margin: 15px;
}

h4{
   text-align: center;
   margin: 15px;
}

#content-right{
    background-color: #EEEEE0;
    height: 490px;
    margin:10px;
    font-size: large;
}

.title{
    border: 2px solid #000000;
    height: 180px;
    width:948px;
}

.title2{
    border: 2px solid #000000;
    margin-top:30px;
    margin-left: 15px;
    height: 178px;
    width: 237px;
}

#border{
    border: 1px solid black;
    width: 942px;
}

/* Criteria page */

.hnavbar2 ol{  		
       	    background-color: none;
       	    border-bottom: 0px solid black;
       	    list-style: none;   		
	    font-size: 14px;
              
}

.hnavbar2 ol li{
                margin: 5px;
                height:40px;
                padding: 5px;
}

#content-right2{
    background-color: #EEEEE0;
    margin-top:5px;
    margin-left: 10px;
    margin-bottom: auto;
}

.criteria{
    height: 50px;
    background-color: #046464;
}

#titlecriteria{
    color: #ffffff;
    text-align: center;
    padding:5px;
}

.descriptioncriteria{
    height: 60px;
    margin-top:12px;
    color: white;
    padding: 5px;
}

#text{
    margin:16px;
    font-size: medium;
    font-family: Cambria;
    text-align: justify;
}




#sizetext{
    font-size: 15px;
}

#center     {
            
            text-align: center;
}

.span5{
    margin-top: 10px;
}

/*Nielsen page */

.nielsen{
    margin:10px;
    padding: 6px;
    height: 100px;
    width: 910px;
    color: white;
}

/*Contcat page */

.contactpage{
    margin-left: 100px;
    margin-top: 20px; 
}

.contactpage2{
    background-color: #EEEEE0;
    
}

.contactpage3{
    margin-left: 138px;
    margin-top: 20px; 
}

#orientation{
    margin-left: 20px;
    width: 940px;
    
}


